
h1 MINT-Orte in Leipzig   

h3 Ein Projekt
p ... an der Universität Leipzig.

h3 Die Aufgabe
p Aufgabe des Teams ist es, die als pdf-Dokumente vorhandenen Daten des 2014er Katalogs als RDF aufzubereiten, mit den vorhandenen Daten des 2012er Katalogs abzugleichen und für eine Online-Präsentation aufzubereiten. 
	|  Die Erfahrungen in der Datenstrukturierung sollen in die Überarbeitung der Fragebögen eingehen, die an Akteure im Zuge der für 2016 geplanten geplanten Neuauflage ausgegeben werden sollen.

h3 Das Team
pre.
	Alrik Hausdorf           - Projektleitung
	Johann Berger            - Backend / Datenmanager
	Kaya Peters              - Frontend-Design-Verantwortlicher
	Mikolaj Szafranski       - Protokoll-Verantwortlicher
.clearfix


h3 Die Umsetzung

pre.
	Alrik Hausdorf           - Frontend
	Johann Berger            - Backend (Datenaufbereitung)
	Kaya Peters              - Design Entwurf Frontend, 
	                           Finden und Anpassen von MINT-Logos
	Mikolaj Szafranski       - Fotos vom MINT-Orten,
	                           Validierung von Geokoordinaten der MINT-Orte

h3 Die Dokumentation
p Die Dokumentation ist zu finde unter: 
	a(href="http://pcai042.informatik.uni-leipzig.de/~mimt-15/doku.pdf" ) http://pcai042.informatik.uni-leipzig.de/~mimt-15/doku.pdf


h4 Verwendete Techniken

a.col-xs-2(href="http://gulpjs.com/" target="_blank")
	img.img-responsive(src="img/gulp.png")
a.col-xs-5(href="http://coffeescript.org/" target="_blank" style="margin-top: 25px;")
	img.img-responsive(src="img/coffee.png")
a.col-xs-5(href="https://angularjs.org/" target="_blank" style="margin-top: 10px;")
	img.img-responsive(src="img/angularjs.png")
a.col-xs-4(href="http://jade-lang.com/" target="_blank" style="margin-top: 25px;")
	img.img-responsive(src="img/jade.svg")
a.col-xs-4(href="http://lesscss.org/" target="_blank" style="margin-top: 25px;")
	img.img-responsive(src="img/less.png")
a.col-xs-2(href="http://bower.io/" target="_blank" style="margin-top: 25px;")
	img.img-responsive(src="img/bower.png")
.clearfix(style="margin-bottom: 10px;")
	
